<div class="btns">
  <button mat-mini-fab color="accent" *ngIf="editMode" (click)="addItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<gridster [options]="options">
  <gridster-item *ngFor="let item of layout" [item]="item">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="item-menu" *ngIf="editMode">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteItem(item)">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item (click)="edit(item)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
    </mat-menu>
    <efaps-dashboard-widget [widget]="item.widget"></efaps-dashboard-widget>
  </gridster-item>
</gridster>
